Repository AdeWang0629/Next_Redxam_App, changes with the labels that .github/labeler.yml gives for each.
All labels: project: frontend, project: backend, project: github

.github/labeler.yml:

# Add 'frontend' to any changes within 'packages/frontend/' folder or any subfolders
"project: frontend": packages/frontend/*

"project: backend": packages/backend/*

"project: github": .github/*

rmv env local from gitignore (#92)
  packages/backend/.gitignore
Labels: project: backend

Some UI changes to see in built (#94)
  packages/frontend/src/components/landing/Relax.tsx
  packages/frontend/src/components/landing/Starting.tsx
Labels: none

main 0.0.0
  packages/backend/.gitignore
  packages/frontend/src/components/landing/Relax.tsx
  packages/frontend/src/components/landing/Starting.tsx
Labels: project: backend

Fix lighthouse not building because of sentry
  .github/workflows/lighthouse.yml
Labels: none

Bitcoin deposits (#82)
  packages/frontend/package.json
  packages/frontend/public/icons/bitcoin.svg
  packages/frontend/public/images/dashboard/deposits/arrow-drop.svg
  packages/frontend/public/images/dashboard/deposits/close.svg
  packages/frontend/public/images/dashboard/deposits/copy.svg
  packages/frontend/public/images/dashboard/deposits/qr.png
  packages/frontend/src/components/dashboard/Card.tsx
  packages/frontend/src/components/dashboard/IconButton.tsx
  packages/frontend/src/components/dashboard/deposits/Bitcoin.tsx
  packages/frontend/src/components/dashboard/deposits/Switcher.tsx
  packages/frontend/src/pages/deposit.tsx
  packages/frontend/src/providers/User.tsx
  packages/frontend/yarn.lock
Labels: project: frontend

disable darkmode (#96)
  packages/frontend/src/components/global/Navbar.tsx
  packages/frontend/src/pages/_app.tsx
Labels: none

Deposit Bank responsive (#79)
  packages/frontend/src/pages/deposit.tsx
Labels: none

Home balance (#84)
  packages/frontend/package.json
  packages/frontend/src/components/dashboard/BalanceCard.tsx
  packages/frontend/src/components/dashboard/deposits/Bitcoin.tsx
  packages/frontend/src/pages/_app.tsx
  packages/frontend/src/pages/deposit.tsx
  packages/frontend/src/providers/Home.tsx
  packages/frontend/src/providers/User.tsx
  packages/frontend/src/utils/api.ts
  packages/frontend/yarn.lock
Labels: project: frontend

dummy comment delete it later
  packages/backend/src/index.ts
Labels: none

deleted dummy comment
  packages/backend/src/index.ts
Labels: none

add yarn and pm2 to backendDeploy script
  scripts/backendDeploy.sh
Labels: none

fixed circleci config
  .circleci/config.yml
Labels: none

add nvm instalation again
  scripts/backendDeploy.sh
Labels: none

Deployscript (#88)
  .circleci/config.yml
  packages/backend/.pm2/balance.sh
  packages/backend/.pm2/binance.sh
  packages/backend/.pm2/portfolio.sh
  packages/backend/.pm2/server.sh
  packages/backend/.pm2/vaults.sh
  packages/backend/.pm2/wallets.sh
  packages/backend/.pm2/webhooks.sh
  packages/backend/package.json
  scripts/backendDeploy.sh
Labels: project: backend

Fix home blanace undefined (#100)
  packages/frontend/src/components/dashboard/BalanceCard.tsx
  packages/frontend/src/providers/Home.tsx
Labels: none

Add Jest tests (#109)
  packages/backend/jest.config.js
  packages/backend/package.json
  packages/backend/src/utils/helpers.test.ts
  packages/backend/yarn.lock
  packages/frontend/jest.config.js
  packages/frontend/package.json
  packages/frontend/src/utils/helpers.test.ts
  packages/frontend/yarn.lock
Labels: project: frontend, project: backend

Referrals API (#108)
  packages/backend/src/appConfig.ts
  packages/backend/src/database/model/user.model.ts
  packages/backend/src/database/schema/user.schema.ts
  packages/backend/src/emails/referralEmail.hjs
  packages/backend/src/emails/simplewaitlist.hjs
  packages/backend/src/resolver/referral.resolver/createWaitlist.resolver.ts
  packages/backend/src/resolver/types/inputs.ts
  packages/backend/src/resolver/user.resolver/createUser.resolver.ts
  packages/backend/src/resolver/user.resolver/index.ts
  packages/backend/src/resolver/user.resolver/waitlist.resolver.ts
  packages/backend/src/schema/schema.graphql
Labels: none

Waitlist referral code (#105)
  packages/frontend/src/components/models/WaitlistModel.tsx
  packages/frontend/src/styles/globals.css
  packages/frontend/src/utils/api.ts
Labels: none

fix footer location not at the bottom of the page (#98)
  packages/frontend/src/components/dashboard/InternalLayout.tsx
Labels: none

Rework to bitcoin deposits tsx table (#103)
  packages/frontend/src/components/dashboard/deposits/Bitcoin.tsx
Labels: none

Threshold (#110)
  packages/backend/.env
  packages/backend/src/apis/blockchain/index.ts
  packages/backend/src/database/index.ts
  packages/backend/src/database/model/internalDeposits.model.ts
  packages/backend/src/database/schema/internalDeposits.schema.ts
  packages/backend/src/resolver/deposits.resolver/index.ts
  packages/backend/src/resolver/deposits.resolver/internalDeposits.resolver.ts
  packages/backend/src/schema/schema.graphql
  packages/backend/src/service/bitcoinService.ts
  packages/backend/src/service/wallets/broadcastTx.ts
  packages/backend/src/service/wallets/createRawTx.ts
  packages/backend/src/service/wallets/deposit.ts
  packages/backend/src/service/wallets/types.ts
Labels: project: backend

Fix export and formatting (#111)
  packages/backend/src/apis/blockchair/config.ts
  packages/backend/src/apis/blockchair/index.ts
  packages/backend/src/database/index.ts
  packages/backend/src/index.ts
Labels: none

Home bug (#112)
  packages/backend/src/resolver/home.resolver/homeResolver.ts
  scripts/backendDeploy.sh
Labels: none

Vaults update (#113)
  packages/backend/src/service/contracts.ts
Labels: none

Jest tests (#114)
  packages/backend/jest.config.js
  packages/backend/package.json
  packages/backend/src/resolver/referral.resolver/createWaitlist.resolver.test.ts
  packages/backend/src/resolver/user.resolver/user.resolver.ts
  packages/backend/src/resolver/user.resolver/waitlist.resolver.test.ts
  packages/backend/src/resolver/user.resolver/waitlist.resolver.ts
  packages/backend/yarn.lock
  packages/frontend/package.json
Labels: project: frontend, project: backend

Develop merge (#116)
  packages/backend/src/appConfig.ts
  packages/frontend/src/components/dashboard/deposits/Bitcoin.tsx
Labels: none

Resolve staging conflicts (#119)
  .gitignore
  packages/backend/.gitignore
  scripts/backendDeploy.sh
Labels: project: backend

fix backend script (#123)
  scripts/backendDeploy.sh
Labels: none

Create backend api for MX
  packages/backend/src/apis/mx/index.ts
  packages/backend/src/database/model/user.model.ts
  packages/backend/src/database/schema/user.schema.ts
  packages/backend/src/index.ts
  packages/backend/src/resolver/user.resolver/index.ts
  packages/backend/src/resolver/user.resolver/mxWidgetConnect.resolver.ts
  packages/backend/src/schema/schema.graphql
Labels: none

mx integration test
  packages/backend/.env
  packages/backend/src/apis/mx/index.ts
  packages/backend/src/index.ts
Labels: project: backend

Frontend MX integration
  packages/frontend/src/components/dashboard/deposits/Banks.tsx
  packages/frontend/src/styles/globals.css
  packages/frontend/src/utils/api.ts
Labels: none

Frontend MX integration
  packages/frontend/src/components/dashboard/deposits/Banks.tsx
  packages/frontend/src/styles/globals.css
  packages/frontend/src/utils/api.ts
Labels: none

Create backend api for MX
  packages/backend/src/apis/mx/index.ts
  packages/backend/src/database/model/user.model.ts
  packages/backend/src/database/schema/user.schema.ts
  packages/backend/src/index.ts
  packages/backend/src/resolver/user.resolver/index.ts
  packages/backend/src/resolver/user.resolver/mxWidgetConnect.resolver.ts
  packages/backend/src/schema/schema.graphql
Labels: none

mx integration test
  packages/backend/.env
  packages/backend/src/apis/mx/index.ts
  packages/backend/src/index.ts
Labels: project: backend

fix about page text
  packages/frontend/src/pages/about.tsx
Labels: none

Delete lighthouse.yml
  .github/workflows/lighthouse.yml
Labels: none

fix relax es accent
  packages/frontend/public/locales/es/relax.json
Labels: none

add es translation to index calculate
  packages/frontend/public/locales/en-US/calculate.json
  packages/frontend/public/locales/es/calculate.json
  packages/frontend/src/components/landing/Calculate.tsx
Labels: none

add es translation to index whyus
  packages/frontend/public/locales/en-US/whyus.json
  packages/frontend/public/locales/es/whyus.json
  packages/frontend/src/components/landing/WhyUs.tsx
Labels: none

configure nexti18n and create index hero title translations to spanish
  packages/frontend/next-i18next.config.js
  packages/frontend/next.config.js
  packages/frontend/package.json
  packages/frontend/public/locales/en-US/common.json
  packages/frontend/public/locales/en-US/hero.json
  packages/frontend/public/locales/es/common.json
  packages/frontend/public/locales/es/hero.json
  packages/frontend/src/components/landing/Hero.tsx
  packages/frontend/src/pages/_app.tsx
  packages/frontend/src/pages/home.tsx
  packages/frontend/src/pages/index.tsx
  packages/frontend/yarn.lock
Labels: project: frontend
