Repository AdeWang0629/Next_Redxam_App, changes with the labels that .github/labeler.yml gives for each.
All labels: project: frontend, project: backend, project: github

.github/labeler.yml:

# Add 'frontend' to any changes within 'packages/frontend/' folder or any subfolders
"project: frontend": packages/frontend/*

"project: backend": packages/backend/*

"project: github": .github/*

add es translation to index hero
  packages/frontend/public/locales/en-US/hero.json
  packages/frontend/public/locales/es/hero.json
  packages/frontend/src/components/landing/Hero.tsx
Labels: none

add es translation to index newsletter
  packages/frontend/public/locales/en-US/newsletter.json
  packages/frontend/public/locales/es/newsletter.json
  packages/frontend/src/components/landing/Newsletter.tsx
  packages/frontend/src/pages/index.tsx
Labels: none

add es translation to waitlist modal
  packages/frontend/public/locales/en-US/waitlist.json
  packages/frontend/public/locales/es/waitlist.json
  packages/frontend/src/components/models/WaitlistModel.tsx
Labels: none

add es translation to index faq
  packages/frontend/public/locales/en-US/faq.json
  packages/frontend/public/locales/es/faq.json
  packages/frontend/src/components/landing/FAQ.tsx
  packages/frontend/src/pages/index.tsx
Labels: none

finish index translation to es
  packages/frontend/public/locales/en-US/login.json
  packages/frontend/public/locales/es/login.json
  packages/frontend/public/locales/es/navbar.json
  packages/frontend/public/locales/es/waitlist.json
  packages/frontend/src/components/models/LoginModel.tsx
  packages/frontend/src/pages/index.tsx
Labels: none

add es translation to index footer
  packages/frontend/public/locales/en-US/footer.json
  packages/frontend/public/locales/es/footer.json
  packages/frontend/src/components/global/Footer.tsx
Labels: none

add es translation to index starting
  packages/frontend/public/locales/en-US/starting.json
  packages/frontend/public/locales/es/starting.json
  packages/frontend/src/components/landing/Starting.tsx
  packages/frontend/src/pages/index.tsx
Labels: none

add es translation to index plan
  packages/frontend/public/locales/en-US/plan.json
  packages/frontend/public/locales/es/plan.json
  packages/frontend/src/components/landing/Plan.tsx
Labels: none

add es translation to index banks
  packages/frontend/public/locales/en-US/banks.json
  packages/frontend/public/locales/es/banks.json
  packages/frontend/src/components/landing/Banks.tsx
  packages/frontend/src/pages/index.tsx
Labels: none

add es translation to index relax
  packages/frontend/public/locales/en-US/relax.json
  packages/frontend/public/locales/es/relax.json
  packages/frontend/src/components/landing/Relax.tsx
Labels: none

add es translation to index navbar
  packages/frontend/public/locales/en-US/navbar.json
  packages/frontend/public/locales/es/navbar.json
  packages/frontend/src/components/global/Navbar.tsx
Labels: none

resolve conflicts
  packages/frontend/src/components/dashboard/BalanceCard.tsx
Labels: none

fix for next-i18next crashing storybook
  packages/frontend/.storybook/main.js
  packages/frontend/package.json
  packages/frontend/yarn.lock
Labels: project: frontend

Fix .env format
  packages/backend/.env
Labels: project: backend

add necesary line to build project in servers
  scripts/backendDeploy.sh
Labels: none

add necesary line to build project in servers
  scripts/backendDeploy.sh
Labels: none

Add missing credential
  packages/backend/.env
Labels: project: backend

testnet network address generation
  packages/backend/src/service/wallets/generateWallet.ts
Labels: none

Add strategy pattern demo
  .gitignore
  demos/strategy-pattern/package-lock.json
  demos/strategy-pattern/package.json
  demos/strategy-pattern/src/list-tokens.ts
  demos/strategy-pattern/src/tokens/bitcoin-bitcoin-mainnet.token.ts
  demos/strategy-pattern/src/tokens/bitcoin-bitcoin-testnet.token.ts
  demos/strategy-pattern/src/tokens/ethereum-ethereum-mainnet.token.ts
  demos/strategy-pattern/src/tokens/matic-polygon-mainnet.token.ts
  demos/strategy-pattern/src/tokens/token.ts
  packages/wgmgatx-frontend/package-lock.json
Labels: none

testnet network address generation
  packages/backend/src/service/wallets/generateWallet.ts
Labels: none

creating basic funtions for bitcoin stragety
  packages/backend/package.json
  packages/backend/src/apis/blockchair/index.ts
  packages/backend/src/tokens/bitcoin-bitcoin-mainnet.token.ts
  packages/backend/src/tokens/token.ts
  packages/backend/yarn.lock
Labels: project: backend

Added arabic translation
  packages/frontend/next-i18next.config.js
  packages/frontend/public/locales/ar/banks.json
  packages/frontend/public/locales/ar/calculate.json
  packages/frontend/public/locales/ar/common.json
  packages/frontend/public/locales/ar/faq.json
  packages/frontend/public/locales/ar/footer.json
  packages/frontend/public/locales/ar/hero.json
  packages/frontend/public/locales/ar/login.json
  packages/frontend/public/locales/ar/navbar.json
  packages/frontend/public/locales/ar/newsletter.json
  packages/frontend/public/locales/ar/plan.json
  packages/frontend/public/locales/ar/relax.json
  packages/frontend/public/locales/ar/starting.json
  packages/frontend/public/locales/ar/waitlist.json
  packages/frontend/public/locales/ar/whyus.json
  packages/frontend/src/pages/_document.tsx
Labels: project: frontend

renamed en-us to en
  packages/frontend/public/locales/en/banks.json
  packages/frontend/public/locales/en/calculate.json
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/en/faq.json
  packages/frontend/public/locales/en/footer.json
  packages/frontend/public/locales/en/hero.json
  packages/frontend/public/locales/en/login.json
  packages/frontend/public/locales/en/navbar.json
  packages/frontend/public/locales/en/newsletter.json
  packages/frontend/public/locales/en/plan.json
  packages/frontend/public/locales/en/relax.json
  packages/frontend/public/locales/en/starting.json
  packages/frontend/public/locales/en/waitlist.json
  packages/frontend/public/locales/en/whyus.json
Labels: none

update translations
  packages/frontend/public/locales/es/calculate.json
  packages/frontend/public/locales/es/footer.json
  packages/frontend/public/locales/es/login.json
Labels: none

update calculate sections translations
  packages/frontend/src/components/landing/Calculate.tsx
Labels: none

Fixed layout navbar in arabic
  packages/frontend/src/components/global/Navbar.tsx
Labels: none

added missing links
  packages/wgmgatx-frontend/src/components/about/Members.tsx
  packages/wgmgatx-frontend/src/components/artists/ArtistList.tsx
  packages/wgmgatx-frontend/src/components/cards/ProfileCard.tsx
  packages/wgmgatx-frontend/src/components/contact/ContactForm.tsx
  packages/wgmgatx-frontend/src/components/contact/TextInput.tsx
  packages/wgmgatx-frontend/src/components/general/Navbar.tsx
  packages/wgmgatx-frontend/src/pages/about.tsx
  packages/wgmgatx-frontend/src/pages/artists.tsx
  packages/wgmgatx-frontend/src/pages/contact.tsx
  packages/wgmgatx-frontend/src/pages/press.tsx
  packages/wgmgatx-frontend/src/pages/shop.tsx
  packages/wgmgatx-frontend/src/pages/submissions.tsx
  packages/wgmgatx-frontend/src/pages/upcoming-events.tsx
  packages/wgmgatx-frontend/tailwind.config.js
  packages/wgmgatx-frontend/yarn.lock
Labels: none

updated blogs
  packages/frontend/public/images/blog/beta.png
  packages/frontend/public/images/blog/passive.png
  packages/frontend/src/pages/blog.tsx
Labels: none

fixed newsletter
  packages/frontend/src/pages/about.tsx
  packages/frontend/src/pages/blog.tsx
Labels: none

added banks
  packages/frontend/public/images/banks/uae/adcb.png
  packages/frontend/public/images/banks/uae/enbd-flat.png
  packages/frontend/public/images/banks/uae/enbd.png
  packages/frontend/public/images/banks/uae/fab-white.svg
  packages/frontend/public/images/banks/uae/fab.png
  packages/frontend/public/images/banks/uae/rak.png
  packages/frontend/public/locales/en-US/banks.json
  packages/frontend/public/locales/es/banks.json
  packages/frontend/src/components/landing/Banks.tsx
Labels: none

renamed en-us to en
  packages/frontend/public/locales/en/banks.json
  packages/frontend/public/locales/en/calculate.json
  packages/frontend/public/locales/en/common.json
  packages/frontend/public/locales/en/faq.json
  packages/frontend/public/locales/en/footer.json
  packages/frontend/public/locales/en/hero.json
  packages/frontend/public/locales/en/login.json
  packages/frontend/public/locales/en/navbar.json
  packages/frontend/public/locales/en/newsletter.json
  packages/frontend/public/locales/en/plan.json
  packages/frontend/public/locales/en/relax.json
  packages/frontend/public/locales/en/starting.json
  packages/frontend/public/locales/en/waitlist.json
  packages/frontend/public/locales/en/whyus.json
Labels: none

Added arabic translation
  packages/frontend/next-i18next.config.js
  packages/frontend/public/locales/ar/banks.json
  packages/frontend/public/locales/ar/calculate.json
  packages/frontend/public/locales/ar/common.json
  packages/frontend/public/locales/ar/faq.json
  packages/frontend/public/locales/ar/footer.json
  packages/frontend/public/locales/ar/hero.json
  packages/frontend/public/locales/ar/login.json
  packages/frontend/public/locales/ar/navbar.json
  packages/frontend/public/locales/ar/newsletter.json
  packages/frontend/public/locales/ar/plan.json
  packages/frontend/public/locales/ar/relax.json
  packages/frontend/public/locales/ar/starting.json
  packages/frontend/public/locales/ar/waitlist.json
  packages/frontend/public/locales/ar/whyus.json
  packages/frontend/src/pages/_document.tsx
Labels: project: frontend

update translations
  packages/frontend/public/locales/es/calculate.json
  packages/frontend/public/locales/es/footer.json
  packages/frontend/public/locales/es/login.json
Labels: none

Fixed layout navbar in arabic
  packages/frontend/src/components/global/Navbar.tsx
Labels: none

update calculate sections translations
  packages/frontend/src/components/landing/Calculate.tsx
Labels: none

hard fixed issues
  packages/frontend/src/components/landing/FAQ.tsx
  packages/frontend/src/components/landing/Newsletter.tsx
Labels: none

update year
  packages/frontend/public/locales/ar/footer.json
  packages/frontend/public/locales/en/footer.json
  packages/frontend/public/locales/es/footer.json
Labels: none

added dubai and usa
  packages/frontend/public/locales/ar/footer.json
  packages/frontend/public/locales/en/footer.json
  packages/frontend/src/components/global/Footer.tsx
Labels: none

Create README.md
  README.md
Labels: none

Fix translation
  packages/frontend/public/locales/en/banks.json
Labels: none
