Repository AdeWang0629/Next_Redxam_App, changes with the labels that .github/labeler.yml gives for each.
All labels: project: frontend, project: backend, project: github

last version
  packages/backend/deploy.sh
Labels: project: backend

add deploy function to staging and develop env
  .circleci/config.yml
Labels: none

change env to production agaian
  packages/backend/deploy.sh
Labels: project: backend

add sentry (#42)
  packages/frontend/.gitignore
  packages/frontend/next.config.js
  packages/frontend/package.json
  packages/frontend/sentry.client.config.js
  packages/frontend/sentry.properties
  packages/frontend/sentry.server.config.js
  packages/frontend/src/pages/_error.js
  packages/frontend/yarn.lock
Labels: project: frontend

feat(frontend): added darkmode (#32)
  packages/frontend/src/components/admin/CreateUser.tsx
  packages/frontend/src/components/admin/Overview.tsx
  packages/frontend/src/components/admin/StaffLogin.tsx
  packages/frontend/src/components/admin/Users.tsx
  packages/frontend/src/components/global/Navbar.tsx
  packages/frontend/src/components/landing/Banks.tsx
  packages/frontend/src/components/landing/Calculate.tsx
  packages/frontend/src/components/landing/FAQ.tsx
  packages/frontend/src/components/landing/Hero.tsx
  packages/frontend/src/components/landing/Newsletter.tsx
  packages/frontend/src/components/landing/Relax.tsx
  packages/frontend/src/components/landing/Starting.tsx
  packages/frontend/src/components/landing/WhyUs.tsx
  packages/frontend/src/pages/_app.tsx
  packages/frontend/src/pages/about.tsx
  packages/frontend/src/pages/admin.tsx
  packages/frontend/src/pages/blog.tsx
  packages/frontend/src/pages/careers.tsx
  packages/frontend/src/styles/globals.css
  packages/frontend/tailwind.config.js
Labels: project: frontend

Sendgrid (#45)
  .gitignore
  packages/backend/.env
  packages/backend/.gitignore
  packages/backend/src/apis/sendgrid/index.ts
  packages/backend/src/cli/changeacc.ts
  packages/backend/src/resolver/manualUser.resolver/updateManualToken.resolver.ts
  packages/backend/src/resolver/referral.resolver/createWaitlist.resolver.ts
  packages/backend/src/resolver/referral.resolver/newsletter.resolver.ts
  packages/backend/src/resolver/referral.resolver/sendReferral.resolver.ts
  packages/backend/src/resolver/user.resolver/createUser.resolver.ts
  packages/backend/src/resolver/user.resolver/updateToken.resolver.ts
  packages/backend/src/routes/plaid.ts
  packages/frontend/.gitignore
Labels: project: frontend, project: backend

Sendgrid (#49)
  packages/backend/src/cli/changeacc.ts
  packages/backend/src/resolver/manualUser.resolver/updateManualToken.resolver.ts
  packages/backend/src/resolver/referral.resolver/createWaitlist.resolver.ts
  packages/backend/src/resolver/referral.resolver/newsletter.resolver.ts
  packages/backend/src/resolver/referral.resolver/sendReferral.resolver.ts
  packages/backend/src/resolver/user.resolver/createUser.resolver.ts
  packages/backend/src/resolver/user.resolver/updateToken.resolver.ts
Labels: none

Sendgrid (#50)
  packages/backend/package.json
Labels: project: backend

add lock to git ignore
  packages/backend/.gitignore
Labels: project: backend

Cypress (#41)
  .circleci/config.yml
  packages/frontend/cypress.json
  packages/frontend/cypress/integration/redxam/landing.spec.js
  packages/frontend/src/components/landing/Hero.tsx
  packages/frontend/src/components/models/WaitlistModel.tsx
Labels: project: frontend

Update to login and wailtlist inputs (#44)
  packages/frontend/src/components/models/LoginModel.tsx
  packages/frontend/src/components/models/WaitlistModel.tsx
  packages/frontend/src/styles/globals.css
Labels: none

Home integration with backend data (#43)
  packages/frontend/src/components/dashboard/BalanceCard.tsx
  packages/frontend/src/components/dashboard/RecentActivity.tsx
  packages/frontend/src/pages/home.tsx
  packages/frontend/src/providers/User.tsx
  packages/frontend/src/utils/api.ts
Labels: none

adding all lock files to gitignore
  .gitignore
Labels: none

Added config
  .circleci/config.yml
Labels: none

Added config (#59)
  .circleci/config.yml
Labels: none

Circle CI Auto deploy (#60)
  .circleci/config.yml
  packages/backend/dummy.txt
Labels: project: backend

Change team photo and name (#39)
  packages/frontend/public/images/about/prusela.jpg
  packages/frontend/src/pages/about.tsx
Labels: none

Update config.yml (#65)
  .circleci/config.yml
Labels: none

Develop auto PR (#66)
  .github/workflows/develop-auto-pr.yaml
Labels: none

cleaned up balanceServer
  packages/backend/src/service/balanceService.ts
Labels: none

build build for 3 env
  .circleci/config.yml
  scripts/backendDeploy.sh
  setupScripts/linux.sh
Labels: none

testing git pull
  .circleci/config.yml
Labels: none

migrated to new script on dev
  .circleci/config.yml
Labels: none

using pm2 with doppler
  packages/backend/.pm2/balance.sh
  packages/backend/.pm2/binance.sh
  packages/backend/.pm2/portfolio.sh
  packages/backend/.pm2/server.sh
  packages/backend/.pm2/vaults.sh
  packages/backend/.pm2/wallets.sh
  packages/backend/.pm2/webhooks.sh
  packages/backend/package.json
  scripts/backendDeploy.sh
Labels: project: backend

trying to set git pull
  scripts/backendDeploy.sh
Labels: none

removed prod mongo env
  packages/backend/.env
  packages/backend/.env.example
  packages/backend/src/database/index.ts
  packages/backend/types/mongodb.d.ts
Labels: project: backend

Update backend (#72)
  packages/backend/.env
  packages/backend/.gitignore
  packages/backend/package.json
  packages/backend/src/apis/plaid/index.ts
  packages/backend/src/apis/sendgrid/index.ts
  packages/backend/src/cli/changeacc.ts
  packages/backend/src/database/model/deposits.model.ts
  packages/backend/src/database/schema/deposits.schema.ts
  packages/backend/src/resolver/admin.resolver/createAdminResolver.ts
  packages/backend/src/resolver/admin.resolver/index.ts
  packages/backend/src/resolver/index.ts
  packages/backend/src/resolver/manualUser.resolver/updateManualToken.resolver.ts
  packages/backend/src/resolver/referral.resolver/createWaitlist.resolver.ts
  packages/backend/src/resolver/referral.resolver/newsletter.resolver.ts
  packages/backend/src/resolver/referral.resolver/sendReferral.resolver.ts
  packages/backend/src/resolver/twilio.resolver/index.ts
  packages/backend/src/resolver/twilio.resolver/twilioVerify.ts
  packages/backend/src/resolver/user.resolver/createUser.resolver.ts
  packages/backend/src/resolver/user.resolver/updateToken.resolver.ts
  packages/backend/src/resolver/user.resolver/user.resolver.ts
  packages/backend/src/routes/plaid.ts
  packages/backend/src/schema/schema.graphql
Labels: project: backend

added env local for ui
  packages/backend/src/database/model/user.model.ts
  packages/backend/src/schema/schema.graphql
  packages/frontend/.env.local
  packages/frontend/.gitignore
  packages/frontend/src/pages/verify.tsx
  packages/frontend/src/utils/api.ts
Labels: project: frontend

fix attachments routes (#75)
  packages/backend/src/cli/changeacc.ts
  packages/backend/src/routes/plaid.ts
Labels: none

Real overview data in admin panel (#81)
  packages/backend/src/resolver/admin.resolver/index.ts
  packages/backend/src/resolver/admin.resolver/overview.resolver.ts
  packages/backend/src/schema/schema.graphql
  packages/frontend/src/components/admin/Overview.tsx
  packages/frontend/src/utils/api.ts
Labels: none

Added styleguide info to docs (#83)
  packages/backend/README.md
  packages/frontend/README.md
Labels: project: frontend, project: backend

Creating a template for PRs
  .github/pull_request_template.md
Labels: project: github

Edits to pr template
  .github/pull_request_template.md
Labels: project: github

Testnet (#80)
  packages/backend/.env
  packages/backend/src/apis/blockchain/index.ts
  packages/backend/src/resolver/wallet.resolver/wallet.resolver.ts
  packages/backend/src/service/bitcoinService.ts
  packages/backend/src/service/wallets/updateUserDeposits.ts
Labels: project: backend

Add yarn.lock and remove useless files
  .gitignore
  packages/backend/.gitignore
  packages/backend/a.out
  packages/backend/back-prod
  packages/backend/staging-to-master.sh
  packages/backend/yarn.lock
Labels: project: backend

Fix ufw setup
  setup-scripts/linux.sh
Labels: none

cleaning up linux set up script
  packages/backend/deploy.sh
  setupScripts/linux.sh
Labels: project: backend

Fix ufw setup
  setup-scripts/linux.sh
  setupScripts/linux.sh
Labels: none

Fix ufw setup
  setup-scripts/linux.sh
Labels: none

Deployscript (#87)
  scripts/backendDeploy.sh
Labels: none

.github/labeler.yml:

# Add 'frontend' to any changes within 'packages/frontend/' folder or any subfolders
"project: frontend": packages/frontend/*

"project: backend": packages/backend/*

"project: github": .github/*
